@{
    Layout = "_WindowAtCenterLayout";
    ViewData["Title"] = "Home Page";
}


<h1>Witamy!</h1>
<div class="container">
    <h2>Zaloguj się lub zarejestruj!</h2>
    <br/>
    <button type="button" class="btn btn-success" btn-lg style="padding:20px; border-radius:10px;"
            onclick="location.href='@Url.Action("Login","Account")'">
        Zaloguj się
    </button>
    <label style="padding-right:40px;"></label>
    <button type="button" class="btn btn-warning" btn-lg style="padding:20px; border-radius:10px;"
            onclick="location.href='@Url.Action("Register","Account")'">
        Zarejestruj
    </button>
</div>
