@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Portal ma prawo do przechowywania, przetwarzania i korzystanie danych wprowadzanych przez Użytkowników. Portal zobowiązuje się nie przekazywać tych danych osobm trzecim bez zgody Użytkownika. Użytkownik sam ma prawo nadawać dostęp do własnej witryny rodzinnej innym użytkownikom. Tworzone przez siebie dane automatycznie udostępnia pozostałym członkom witryny rodzinnej, którą edytuje.</p>

<p>Korzystanie z protalu przez Użytkownika jest równoznaczne z wyrażeniem zgody na Politykę Prywatności Portalu.</p>
