
@{
    ViewData["Title"] = "Regulamin";
}

<h1>Regulamin</h1>

AncestorData to portal internetowy umożliwiający członkom zakładanie witryn rodzinnych w celu zbierania informacji genealogicznych, umieszczania na nich danych oraz zdjęć ("Portal").
"Użytkownik" to osoba mająca ukończone 18 lat, korzystająca z portalu.
Korzystanie z Portalu oznacza zaakceptowanie przez Użytkownika warunków Regulaminu, niezależnie od tego, czy Użytkownik dokonał rejestracji czy nie.

<h2>Witryna rodziny</h2>

Dostęp do większości funkcji aplikacji ze szczególnym uwzględieniem tworzenia drzewa rodziny wymaga zarejestrowania na Portalu. Osoby, które zarejestrowały się na Portalu nazywane są "Członkami".

Członkowie mogą tworzyć własne witryny rodziny.Są one niedostępne dla innych użytkowników serwisu, chyba że Użytkownik nada innemu Użytkownikowi uprawnienia. Może nadać trzy rodzaje uprawnień:
<ol>
    <li><bf>administratora</bf> - pozwala na zarządzanie wszystkimi danymi o rodzinie, dodawanie i usuwanie członków rodziny oraz nadawanie uprawnień członkom witryny rodziny</li>
    <li><bf>edytora</bf> - pozwala na zarządzanie wszystkimi danymi o rodzinie, dodawanie i usuwanie członków rodziny,</li>
    <li><bf>członka</bf> - pozwala wyłącznie na odczyt danych o rodzinie, nie pozwala na ich edycję</li>
</ol>
Domyślnie twórca witryny ma uprawnienia administratora. Administrator może nadawać innym użytkownikom dowolny rodzaj uprawnień. Administrator nie może pozbawić drugiego administratora uprawnień. Uprawnień tych można jedynie się zrzec.
Użytkownicy, którym nie nadano dostępu do witryny rodziny, nie mają do niej dostępu.

<h2>Dopuszczalne treści</h2>

Użytkownik nie powinien zamieszczać treści nielegalnych lub nieodpowiednich. Portal nie będzie edytować i monitorować na bieżąco treści, zgłaszanych przez użytkowników, ale zastrzega sobie prawo usuwania treści, które uzna za naruszające niniejszą umowę.

W szczególności, Użytkownik nie będzie zamieszczał ani w żaden sposób przechowywał:

<ul>
    <li> treści zawierających nagość, o charakterze pornograficznym. seksualnym, wulgarnym lub obraźliwym;</li>
    <li> treści nawołujących do nienawiści;</li>
    <li> treści naruszających prywatność innych osób;</li>
    <li> informacji pozyskanych w sposób nielegalny;</li>
    <li> treści łamiących prawa autorskie;</li>
    <li> wirusów komputerowych, wszelkich form złośliwego kodu, nie będzie wykonywał jakichkolwiek działań mogących doprowadzić do pozyskania danych innych osób;</li>
    <li> treści naruszających Politykę Prywatności.</li>
</ul>

Użytkownik <b>nie może</b>:
<ul>
    <li>podszywać się pod innego użytkownika, a w szczególności pod Portal albo osoby z administracji Portalu;</li>
    <li>zamieszczać na Portalu linków do stron spoza Portalu;</li>
    <li>korzystać z Portalu w sposób naruszający dobre imię Portalu i jego twórcy;</li>
    <li>ograniczać innym osobom możliwość korzystania z Portalu;</li>
    <li>wykorzystywać witryny w celach komercyjnych lub reklamowych.</li>
</ul>

Bez pisemnej zgody Portalu Użytkownik nie może sporządzać kopii, przechowywać całości lub części Portalu lub treści na nim zamieszczonej (z pominięciem treści witryny rodziny, do której ma dostęp), prowadzić jego dystrybucji, sprzedawać lub udostępniać. Nie może także bez uprzedniej zgody Portali stosować technik scrapingu, crawlingu i harverstingu.

Użytkownik ponosi pełną odpowiedzialność za przechowywanie i udostępnianie na stronie danych członków rodziny, w szczególności żyjących członków rodziny. W razie skargi na nielegalne przechowywanie danych osób żyjących, Portla może zablokować jego konto i usunąć wspomniane informacje.

Portal zastrzega sobie prawo, aby wedle własnego udziału odmówić zamieszczenia lub usunąć treści zamieszczone przez użytkownika bez podania przyczyny i uprzedzenia. W szczególności dotyczy to treści naruszających regulamin.

Użytkownik ma prawo usunąć dowolne treści ze swojego drzewa rodziny.

Użytkownicy nie mogą komunikować się między sobą.

<h2>Prawo autorskie</h2>

Portal nie jest przeznaczony do użytku komercyjnego. Użytkownik udostępniając dane przekazuje Witrynie niewyłączną, wolną od opłat, nieograniczoną czasowo licencję na korzystanie z tych danych.

Kod źródłowy strony oparty jest na licencji MIT:
<cite>
    Copyright <2020>
        <COPYRIGHT>

            Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

            The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</cite>

<h2>Polityka prywatności</h2>
<p>Polityka Prywatności opisana jest opisana pod następującym linkiem: @Html.ActionLink("Polityka Prywaności","Privacy").

<h2>Ograniczenie odpowiedzialności</h2>

Portal nie ponosi odpowiedzialności za szkody poniesione przez Użytkownika wskutek działalności na Portalu osób trzecich. Portal nie odpowiada za błędy w treści, przerwy w pracy Portalu, nieuprawniony dostęp do danych Użytkownika udostępnionych Portalowi, robaków, wirusów, koni trojańskich obecnych na Portalu lub przekazywanych za jego pośrednictwem. Nie ponosi też odpowiedzialności za potencjalne umieszczenie przez Użytkownika na Portalu danych naruszających prawa autorskie, ochronę danych osobowych lub zawierających treści niedozwolone.

<h2>Zmiana warunków Regulaminu</h2>

Regulamin może zostać zmieniony w dowolnym momencie przez Portal. O zmianie Regulaminu Użytkownik będzie informowany drogą mailową na wskazany przez siebie adres. Regulamin zaczyna obowiązywać po 7 dniach od przeprowazenia zmian. Kontynuację korzystania z Portalu przez Użytkownika uznaje się za akceptację zmian.