################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AncestorData/.vs/AncestorData
/AncestorData/AncestorData/bin/Debug/netcoreapp3.1
/AncestorData/AncestorData/obj
