@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<div class="text-center">
    <div class="container p-3 mb-2 bg-light text-dark">
        <img src="~/img/cemetery.jpg" alt="" style="width:100%; opacity:0.7; z-index:-1">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index:1; min-height:200px; background-color: cornsilk; display:grid; align-items:center"
             class="border border-success text-dark">
            @RenderBody()
        </div>
    </div>
</div>
<small>Photo by Annie Spratt on Unsplash</small>